<div class=" bg-gray-100">
    <nav class="bg-white shadow-sm">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-between h-16">
          <div class="flex items-center">
            <h1 class="text-2xl font-bold text-red-600">MOS Burgers</h1>
            <div class="hidden md:ml-6 md:flex md:space-x-8">
              <a routerLink="dashboard" class="cursor-pointer text-gray-700 hover:border-b-2 hover:border-red-500 px-3 py-2">Dashboard</a>
              <a routerLink="store" class="cursor-pointer text-gray-700 hover:border-b-2 hover:border-red-500 px-3 py-2">Store</a>
              <a routerLink="orders" class="cursor-pointer text-gray-700 hover:border-b-2 hover:border-red-500 px-3 py-2">Orders</a>
              <a routerLink="customers" class="cursor-pointer text-gray-700 hover:border-b-2 hover:border-red-500 px-3 py-2">Customers</a>
              <a routerLink="reports" class="cursor-pointer text-gray-700 hover:border-b-2 hover:border-red-500 px-3 py-2">Reports</a>
            </div>
          </div>
        </div>
      </div>
    </nav>
</div>